@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
}

.logoutbtn {
    margin-right: 150px;
    /* color: red; */
    /* background-color: red; */
}

.fa-solid {
    /* background-color: yellow; */
    color: rgb(199, 199, 0);
    /* border-color: red; */
    border-color: black;
}

@media only screen and (max-width: 700px) {
    .header {
        display: flex;
        flex-direction: row;
    }
    .search {
        background-color: white;
        padding: 8px;
        width: 420px;
        margin: 0px 15px;
        /* display: flex; */
        /* justify-content: space-between; */
        color: #2874f0;
        margin-top: 10px;
    }
    .header .headerSearch {
        display: flex;
        flex: 1;
        align-items: center;
        width: 10vw;
        margin-right: 11vw;
        margin-top: 85px;
        /* background-color: #000; */
    }
    .header .headerTop {
        height: 140px;
        background: #ff9655;
        display: flex;
        align-items: center;
        position: sticky;
        top: 0;
        z-index: 1000;
    }
    .header .logo {
        width: 100px;
        object-fit: cover;
        margin: -1px 20px 0px 20px;
        height: 8vh;
    }
}

.search {
    background-color: white;
    padding: 8px;
    width: 400px;
    margin: 0px 15px;
    display: flex;
    justify-content: space-between;
    color: #2874f0;
}

.search input {
    width: 290px;
    border: none;
    outline: none;
    font-size: 14px;
    /* box-shadow: -7px -7px 10px rgba(0, 0, 0,0.1),
    7px 7px 10px rgba(0, 0, 0,0.1); */
}

.header .headerTop {
    height: 60px;
    background: #5555ff;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    padding-left: 250px;
}

.header .headerLeftNav {
    color: #fff;
    padding: 5px 5px 2px 5px;
    cursor: pointer;
    margin-left: 10px;
    border: 1px solid;
    border: 1px solid #555;
}


/* logo*/

.header .logo {
    width: 100px;
    object-fit: cover;
    margin: 9px 20px 5px 0px;
    height: 8vh;
}

.logolink {
    /* border: 1px solid red; */
    width: 111px;
    margin-left: -10px;
}


/* logo*/


/* Search box */

.header .headerSearch {
    display: flex;
    flex: 1;
    align-items: center;
    width: 10vw;
    margin-right: 11vw;
    /* background-color: #000; */
}

.header .headerSearchInput {
    width: 50%;
    height: 20px;
    padding: 5px;
}

.header .headerSearchIcon {
    background: white;
    height: 37px !important;
}


/* Search box */


/*Links*/

.headerNavbar,
.headerNavbar span {
    display: flex;
    justify-content: center;
}

.headerLink:first-child {
    width: 1px;
    color: #2874f0;
}

.headerLink {
    color: #fff;
}

.headerNavbar .headerOptions,
.headerAddress .headerOptions {
    display: flex;
    flex-direction: column;
    margin: 0px 10px;
}

.headerOption_One {
    font-size: 12px;
}

.headerOption_Two {
    font-size: 14px;
    font-weight: 800;
}


/*Links*/


/* Basket*/

.header .headerOptions_Basket {
    display: flex;
    align-items: center;
    color: #fff;
}

.header .basketCount {
    /* border: 1px solid #fff; */
    font-size: 14px;
    /* border-radius: 100px; */
    /* margin: 0px 15px -20px -10px; */
    margin-right: 10px;
    padding: 2px 4px;
}


/* Navbar Bottom */

.headerBottom {
    background: #000;
    padding-top: 5px;
    height: 45px;
    color: #fff;
    display: flex;
    align-items: center;
}

.headerAddress {
    display: flex;
}

.headerAddress_Icon {
    vertical-align: middle;
}

.headerBottom_Navbar {
    display: flex;
    justify-content: center;
    flex: 1;
}

.headerBottom_Navbar>span {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
}

.username {
    color: white;
}

.searchbtn {
    margin: 5px;
    margin-left: -9vw;
    height: 5vh;
    width: 8vw;
    font-size: 16px;
    margin-right: 20px;
    /* background: #f0c14b; */
    /* border-color: #a88734 #9c7e31 #846a29; */
    background-color: #5555ff;
    border-color: #5555ff;
    /* border-radius: 20px; */
    cursor: pointer;
    color: white;
}